<!DOCTYPE html>
	<html lang="en-US">
		<head>
			<title>{{ page.title }}</title>
			<meta charset="utf-8">
			<!-- Responsive -->
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<!-- Bootstrap -->  
  			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
			<!-- Custom stylesheet-->
			<link rel="stylesheet" type="text/css" href="/css/main.css">  
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/files/Resume.pdf", target="_blank">CV</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<!--<ul>
	        		<li><a href="mailto:amitsyadav.yadav716@gmail.com">email</a></li>
	        		<li><a href="https://github.com/savewater1">GitHub</a></li>
				</ul>-->
				<div class="container-fluid text-center bg-dark text-white">
					<span>Made by Amit Kumar Yadav</span>
				</div>
			</footer>
		</body>
	</html>